.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    gap:1rem;
    background-color: var(--clr-accent);
    position: fixed;
    height:65px;
    width:100vw;
    z-index: 1000;
}


/* Profile / nav section */
.profilePanelShow{
    position:absolute;
    top:0;
    right:0;
    overflow-y: visible;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    background-color: purple;
    min-width:50%;
    min-height: 30%;
}
.profilePanelShow .nav,
.profilePanelShow .userCard{
    margin-top: 30px;
    padding: 1rem
}
.navExit{
    cursor: pointer;
    position:absolute;
    top:20px;
    right:20px;
    padding: 10px;

}
.navList{
    display:flex;
    flex-direction: column;
    gap: 3rem 0;
}
.navItem{
    text-decoration: none;
}

.profilePanelHide >
.nav,
.userGreeting,
.titleContainer{
    display:none;
}

.profilePanelShow .titleContainer,
.profilePanelShow .nav,
.profilePanelShow .userGreeting,
.profilePanelShow .signOutBtn,
.profilePanelShow .titleContainer{
    display:unset
}

.navList{
    list-style-type:none;
}

.userImage{
    border-radius: 50%;
}

/* searchbar section */

.searchbar{
    position: relative;
    height:45px;
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items: center;
}
.searchIcon{
    position:absolute;
    left:5px;
}
.searchBtn{
    height:30px;
}
.searchInput{
    width:80%;
    height:100%;
    padding-left:1.5rem;
}

/* Logo Section */ 